# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Ignore Virtual Environment
venv/
env/
.venv/
.venv-win/
WA_venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# typescript
*.tsbuildinfo

# Documentation & Media
Documents/
docs/
MLIntegration/

# Cursor editor files
.cursor/

# Gemini-specific files
GEMINI.md
db.sqlite3
backend/backup/

# Ignore scan files
backend/media/scans/*.png
backend/media/scans/*.jpg
backend/media/scans/*.jpeg
